mixin listHead(fields)
  tr
    each field, key in fields
      th #{field.config.title}
    th #{__('Actions')}


mixin listRow(obj, instancePath, instanceConfig)
  tr
    each field, key in fields
      +listValue(key, field, obj[key])
      // adding actions
    td
      if instanceConfig.view
        a(href='#{instancePath}/view/#{obj.id}').btn.btn-info
          i.glyphicon.glyphicon-eye-open

      if instanceConfig.edit
        a(href='#{instancePath}/edit/#{obj.id}').btn.btn-info
          i.glyphicon.glyphicon-pencil
          //| &nbsp;#{__('Edit')}
      | &nbsp;
      if instanceConfig.remove
        a(href='', onclick="return confirm('#{__('Are you sure ?')}')").btn.btn-danger
          i.glyphicon.glyphicon-trash

mixin listValue(key, field, value)
  case field.model.type
    when 'boolean'
      td
        if value
          i.glyphicon.glyphicon-ok-sign
        else
          i.glyphicon.glyphicon-remove-sign
    default
      td #{value}