mixin fieldWidget(key, field, value)
  .form-group
    label(for='form-#{key}').col-md-4.control-label #{field.config.title}
    .col-md-8
      - var type = field.config.type || field.model.type
      case type
        when 'string'
          +inputText(key, field, value)
        when 'password'
          +inputPassword(key, field, value)
        when 'date'
          +inputDate(key, field, value)
        when 'datetime'
          +inputDatetime(key, field, value)
        when 'integer'
          +inputNumber(key, field, value)
        when 'float'
          +inputNumber(key, field, value)
        when 'boolean'
          +inputCheckbox(key, field, value)
        when 'text'
          +textarea(key, field, value)
        default
          +inputText(key, field, value)

mixin inputText(key, field, value)
  if field.model.enum
    +select(key, field, value)
  else if field.model.email
    input(type='email', name=key, id='form-#{key}', required=field.config.required || false, disabled=field.config.disabled || false, value=value).form-control
  else
    input(type='text', name=key, id='form-#{key}', required=field.config.required || false, disabled=field.config.disabled || false, value=value).form-control

mixin inputPassword(key, field, value)
  input(type='password', name=key, id='form-#{key}', required=field.config.required || false, disabled=field.config.disabled || false value=value).form-control

mixin inputDate(key, field, value)
  input(type='date', name=key, id='form-#{key}', required=field.config.required || false, disabled=field.config.disabled || false, value=value).form-control

mixin inputDatetime(key, field, value)
  input(type='datetime', name=key, id='form-#{key}', required=field.config.required || false, disabled=field.config.disabled || false, value=value).form-control

mixin inputNumber(key, field, value)
  input(type='number', name=key, id='form-#{key}', required=field.config.required || false, disabled=field.config.disabled || false value=value).form-control

mixin inputCheckbox(key, field, value)
  .checkbox
    input(type='checkbox', name=key, id='form-#{key}', required=field.config.required || false, disabled=field.config.disabled || false value='1', checked=value)

mixin select(key, field, value)
  select(name=key, required=field.config.required || false, disabled=field.config.disabled || false).form-control
    each opt in field.model.enum
      option(value=opt) #{opt}

mixin textarea(key, field, value)
  textarea(name=key, required=field.config.required || false, disabled=field.config.disabled || false) #{value}