mixin listHead(fields)
  tr
    each field, key in fields
      th.text-capitalize
        a(href=sortingHelper.generateLink(req, key)) #{field.config.title}&nbsp;
        if req.sort && req.sort.key == key
          i(class=(req.sort.order == 'desc' ? 'glyphicon-sort-by-alphabet-alt' : 'glyphicon-sort-by-alphabet')).glyphicon
    th #{__('Actions')}


mixin listRow(obj, instance)
  - var idField = locals.adminpanel.configHelper.getIdentifierField(instance.config.model);
  tr
    each field, key in fields
      +listValue(key, field, obj[key])
      // adding actions
    td
      +inlineListActions(instance, obj)

      if instance.config.view
        | &nbsp;
        a(href='#{instance.uri}/view/#{obj[idField]}').btn.btn-info
          i.glyphicon.glyphicon-eye-open

      if instance.config.edit
        | &nbsp;
        a(href='#{instance.uri}/edit/#{obj[idField]}').btn.btn-info
          i.glyphicon.glyphicon-pencil
          //| &nbsp;#{__('Edit')}
      if instance.config.remove
        | &nbsp;
        a(href='#{instance.uri}/remove/#{obj[idField]}', onclick="return confirm('#{__('Are you sure ?')}')").btn.btn-danger
          i.glyphicon.glyphicon-trash

mixin listValue(key, field, value)
  case field.model.type
    when 'association'
      if (!value || typeof value === 'undefined')
        td &nbsp;
      else if (typeof value === 'string')
        td #{value}
      else
        td #{value && value[field.config.displayField] ? value[field.config.displayField] : '&nbsp;'}

    when 'boolean'
      td
        if value
          i.glyphicon.glyphicon-ok-sign
        else
          i.glyphicon.glyphicon-remove-sign
    default
      if field.config.enum
        td #{field.config.enum[value]}
      else
        td #{value}
