mixin listHead(fields)
  tr
    each field, key in fields
      th #{field.config.title}
- var iconSize = "20";

mixin listRow(obj, instance)
  - var idField = locals.adminpanel.configHelper.getIdentifierField(instance.config.model);
  tr
    each field, key in fields
      +listValue(key, field, obj[key])
      // adding actions
    td.actions
      +inlineListActions(instance, obj)
      if instance.config.view && sails.adminpanel.havePermission(req, instance.config, 'view')
        | &nbsp;
        a(href='#{instance.uri}/view/#{obj[idField]}')
          clr-icon(shape="eye", size=iconSize)

      if instance.config.edit && sails.adminpanel.havePermission(req, instance.config, 'edit')
        | &nbsp;
        a(href='#{instance.uri}/edit/#{obj[idField]}')
          clr-icon(shape="pencil", size=iconSize)

      if instance.config.remove && sails.adminpanel.havePermission(req, instance.config, 'remove')
        | &nbsp;
        a(href='#{instance.uri}/remove/#{obj[idField]}', onclick="return confirm('#{__('Are you sure ?')}')")
          clr-icon(shape="trash", size=iconSize)

mixin listValue(key, field, value)
  case field.model.type
    when 'association'
      if (!value || typeof value === 'undefined')
        td &nbsp;
      else if (typeof value === 'string')
        td #{value}
      else
        td #{value && value[field.config.displayField] ? value[field.config.displayField] : '&nbsp;'}
    when 'association-many'
      if(value.length)
        td #{_.pluck(value, field.config.displayField).join(', ')}
      else
        td &nbsp;
    when 'boolean'
      td
        if value
          clr-icon(shape="success-standard", size="20")
        else
          clr-icon(shape="times-circle", size="20")
    default
      if field.config.enum
        td #{field.config.enum[value]}
      else
        td #{value}
