mixin listHead(fields)
  tr
    each field, key in fields
      th #{field.config.title}
    th #{__('Actions')}


mixin listRow(obj, instance)
  tr
    each field, key in fields
      +listValue(key, field, obj[key])
      // adding actions
    td
      if instance.config.view
        | &nbsp;
        a(href='#{instance.uri}/view/#{obj.id}').btn.btn-info
          i.glyphicon.glyphicon-eye-open

      if instance.config.edit
        | &nbsp;
        a(href='#{instance.uri}/edit/#{obj.id}').btn.btn-info
          i.glyphicon.glyphicon-pencil
          //| &nbsp;#{__('Edit')}
      if instance.config.remove
        | &nbsp;
        a(href='#{instance.uri}/remove/#{obj.id}', onclick="return confirm('#{__('Are you sure ?')}')").btn.btn-danger
          i.glyphicon.glyphicon-trash

mixin listValue(key, field, value)
  case field.model.type
    when 'boolean'
      td
        if value
          i.glyphicon.glyphicon-ok-sign
        else
          i.glyphicon.glyphicon-remove-sign
    default
      td #{value}
