mixin menuItem(menuItem)
  a.nav-link(href=menuItem.link)
    | &nbsp;#{menuItem.title}
  if menuItem.icon
    clr-icon(shape=menuItem.icon)

mixin navbar
  nav.sidenav
    section.sidenav-content
      each group in locals.adminpanel.menuHelper.getGroups()
        section.nav-group.collapsible
          input(id="tabexample1" type="checkbox")
          label(for="tabexample1") Collapsible Nav Element
          //i(class='glyphicon-#{group.icon}').glyphicon
          div.header #{group.title || 'Dropdown'}
          div
            ul.nav-list
            each menuItem in group.menues
              li
                +menuItem(menuItem)
      each menuItem in locals.adminpanel.menuHelper.getMenuItems()
        if (sails.adminpanel.havePermission(req, sails.config.adminpanel.instances[menuItem.instanceName], ''))
          +menuItem(menuItem)
