mixin navbar
  div(role='navigation').navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        button(type='button', data-toggle='collapse', data-target='navbar-collapse').navbar-toggle.collapsed
          span.sr-only #{__('Toggle navigation')}
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href='/admin').navbar-brand #{locals.title}
      .navbar-collapse
        ul.nav.navbar-nav
          each instance, key in locals.adminPanelConfig.instances
            li: a(href='#{locals.adminPanelConfig.routePrefix}/#{key}') #{instance.title}



        ul.nav.navbar-nav.navbar-right

          li: a(href='/auth/logout')
            i.glyphicon.glyphicon-off
            | &nbsp;#{__('Log out')}

          li.dropdown
            a(href='#', data-toggle='dropdown').dropdown-toggle
              i.glyphicon.glyphicon-question-sign
              | &nbsp;
              span.caret

            ul(role='menu').dropdown-menu
              li: a(href='#') Some help
              li: a(href='#') Some help 2
              li.divider
              li: a(href='#') Some else
