<div class="widget">
    <%= field.config.title %>
    <select name="<%= key %>" id="form-<%= key %>"
        <%= field.config.required && 'required' %>
        <%= field.config.disabled && 'disabled'%>>

        <% if (!field.config.required) { %>
        <option value="">--- Select please ---</option>
        <% } %>
        <% if (field.config.records) { %>
            <% field.config.records.forEach(function(opt) { %>
            <option value="<%= opt[field.config.identifierField] %>"
                <%= (opt[field.config.identifierField] == value) && 'selected' %>>
                <%= opt[field.config.displayField] %>
            </option>
            <% }) %>
        <% } else { %>
        <option value="">--- No records found ---</option>
        <% } %>
    </select>
    <hr/>
</div>
