
<div class="checkbox">
    <input type="checkbox" id="form-<%= key %>" name="<%= key %>" value="<%= value && 1 || 0 %> <%= field.config.disabled && 'disabled' || ''%>  <%= field.config.required && 'required' || ''%> style="width: auto;">
    <label for="form-<%= key %>"></label>
</div>


