
<textarea
        <%= field.config.required && 'required' %>
        <%= field.config.disabled && 'disabled'%>
        name="<%= key %>"
        id="form-<%= key %>">
    <%=value%>
</textarea>
<div id="ace-<%= key %>"><%=value%></div>
<script>
    $(`#form-<%= key %>`).hide();
    let ace_<%=key%> = ace.edit('ace-<%=key%>');
    ace_<%=key%>.setReadonly
    ace_<%=key%>.setTheme("ace/theme/katzenmilch");
    ace_<%=key%>.session.setMode("ace/mode/html");
    ace_<%=key%>.session.on("change", function () {
        $('#form-<%=key%>').val(ace_<%=key%>.getValue());
    });

    // Disable doctype annotations
    var session_<%=key%> = ace_<%=key%>.getSession();
    session_<%=key%>.on("changeAnnotation", function() {
        var annotations = session_<%=key%>.getAnnotations()||[], i = len = annotations.length;
        while (i--) {
            if(/doctype first\. Expected/.test(annotations[i].text)) {
                annotations.splice(i, 1);
            }
        }
        if(len>annotations.length) {
            session_<%=key%>.setAnnotations(annotations);
        }
    });

</script>
