<!--    Items should have an id to get representation of the list as array, tree or string. -->
<!--    To get a string representation required next format of id: xx_yy, xx-yy or xx=yy. -->

<!--Sortable list-->
<ul class="list-group list-group-flush" id="sortableList" style="width: max-content;">
    <li id="item_1" class="list-group-item" data-hint="Whatever you want here" data-link="/" data-title="Home">
        <div>
            <label>Home</label>
            <a href="#" class="clickable itemUp btn btn-sm">[↑]</a>
            <a href="#" class="clickable itemDown btn btn-sm">[↓]</a>
            <a href="#" class="clickable popup-open btn btn-sm">[Edit]</a>
            <a href="#" class="clickable deleteItem btn btn-sm">[X]</a>
        </div>
    </li>
    <li id="item_2" class="list-group-item" data-hint="About page" data-link="#about" data-title="About us">
        <div>
            <label>About us</label>
            <a href="#" class="clickable itemUp btn btn-sm">[↑]</a>
            <a href="#" class="clickable itemDown btn btn-sm">[↓]</a>
            <a href="#" class="clickable popup-open btn btn-sm">[Edit]</a>
            <a href="#" class="clickable deleteItem btn btn-sm">[X]</a>
        </div>
    </li>
    <li id="item_3" class="list-group-item" data-hint="Feedback" data-link="#feedback" data-title="Feedback">
        <div>
            <label>Feedback</label>
            <a href="#" class="clickable itemUp btn btn-sm">[↑]</a>
            <a href="#" class="clickable itemDown btn btn-sm">[↓]</a>
            <a href="#" class="clickable popup-open btn btn-sm">[Edit]</a>
            <a href="#" class="clickable deleteItem btn btn-sm">[X]</a>
        </div>
    </li>
</ul>

<button type="button" id="addBtn" class="btn">Add elem</button>

<textarea
        <% field.config.required && 'required' %>
        <% field.config.disabled && 'disabled'%>
        name="<%= key %>"
        id="form-<%= key %>"
        rows="10"><%-JSON.stringify(value)%>
</textarea>

<!--Modal window-->
<div class="popup-fade">
    <div class="popup">
        <a class="popup-close close-btn" href="#">Close</a>
        <div id="data-hint" style="display: none;">
            <label for="itemHint">Hint</label>
            <input type="text" id="itemHint">
        </div>
        <div id="data-link" style="display: none;">
            <label for="itemLink">Link</label>
            <input type="text" id="itemLink">
        </div>
        <div id="data-title" style="display: none;">
            <label for="itemTitle">Title</label>
            <input type="text" id="itemTitle">
        </div>
        <div id="data-something" style="display: none;">
            <label for="itemSomething">Something</label>
            <input type="text" id="itemSomething">
        </div>
        <div id="data-thing" style="display: none;">
            <label for="itemthing">thing</label>
            <input type="text" id="itemthing">
        </div>
        <div>
            <label for="parentSelector">Choose parent</label>
            <select class="form-select" id="parentSelector" aria-label="Default select example">
            </select>
        </div>
        <div>
            <label for="propertyAdder">Add property</label>
            <select class="form-select" id="propertyAdder" aria-label="Default select example">
            </select>
            <a class="addProperty" href="#">Add</a>
        </div>
        <div>
            <a class="editItem" itemid="" href="#">Save</a>
            <a class="close-btn" href="#">Cancel</a>
        </div>
    </div>
</div>

<script>

    function createDOM(data) {
        let ul = document.createElement('ul');
        for (let item of data) {
            $(ul).append(`<li id="${item.id}" class="list-group-item" data-hint="" data-link="" data-title="">` +
                `<div><label>${item.title}</label><a href="#" class="clickable itemUp btn btn-sm">[↑]</a>` +
                '<a href="#" class="clickable itemDown btn btn-sm">[↓]</a>' +
                '<a href="#" class="clickable popup-open btn btn-sm">[Edit]</a>' +
                `<a href="#" class="clickable deleteItem btn btn-sm">[X]</a></div>` +
                '</li>');
            // let dataAttributes = {};
            // for (let [key, value] of Object.entries(item)) {
            //     if (key !== 'id' && key !== 'order' && key !== 'children') {
            //         dataAttributes[key] = value;
            //     }
            // }
            for (let [key, value] of Object.entries(item)) {
                if (key !== 'id' && key !== 'order' && key !== 'children') {
                    $(' > li[id=' + item.id + ']', ul).attr(`data-${key}`, value);
                }
            }
            if (item.children.length > 0) {
                $(" > li[id=" + item.id + "]", ul).append(createDOM(item.children));
            }
        }
        return ul;
    }

    function giveItemsUniqueId() {
        $('li[id^="item_"]').each(function (index, element) {
            $(element).attr('id', "item_" + index);
        })
    }

    function addProperty() {
        $('.popup > div[id^="data-"]').each(function(index, element) {
            console.log($(element).attr('id'));
            if ($(element).attr('id') === $('#propertyAdder').val()) {
                $(element).show();
                $('li[id^="item_"]').attr($('#propertyAdder').val(), "");
                $('#propertyAdder option:selected').remove();

            }
        })
        saveChanges();
    }

    function addItem() {
        $('#sortableList').append('<li id="item_new" class="list-group-item" data-hint="Whatever you want here" data-link="/" data-title="New element">' +
            '<div><label>New element</label>' +
            '<a href="#" class="clickable itemUp btn btn-sm">[↑]</a>' +
            '<a href="#" class="clickable itemDown btn btn-sm">[↓]</a>' +
            '<a href="#" class="clickable popup-open btn btn-sm">[Edit]</a>' +
            '<a href="#" class="clickable deleteItem btn btn-sm">[X]</a>' +
            '</div>' +
            '</li>');
        for (let key of Object.keys($('#sortableList > li').getAttr())) {
            if ($('#item_new').attr(key) === undefined) {
                $('#item_new').attr(key, "");
            }
        }
        giveItemsUniqueId();
        saveChanges();
    }

    function deleteItem(item) {
        $(item).parent().parent().remove();
        saveChanges();
    }

    function editItem() {
        let itemId = '#' + $('.popup > div > .editItem').attr('itemid');
        $(' > div > label', itemId).text($('.popup > div[id="data-title"] > input').val());
        $('.popup > div').each(function(index, element) {
            if ($(element).is(":visible") && $(element).attr('id')) {
                $(itemId).attr($(element).attr('id'), $('input', element).val());
            }
        })
        if ($('.popup > div > select').val() === 'global') {
            $('#sortableList').append($(itemId));
        } else if ($('#' + $('.popup > div > select').val()).children().length === 1) {
            $('#' + $('.popup > div > select').val()).append(document.createElement('ul'));
            $('#' + $('.popup > div > select').val() + ' > ul').append($(itemId));
        } else {
            $('#' + $('.popup > div > select').val() + ' > ul').append($(itemId));
        }
        saveChanges();
        closePopup();
        $('#parentSelector').empty();
        $('#propertyAdder').empty();
    }

    function itemUp(item) {
        let currentItem = $(item).parent().parent();
        let prevItem = $(currentItem).prev();  // returns prev item or empty jQuery object

        if (prevItem && prevItem.length > 0) {
            $(currentItem).insertBefore($(prevItem));
        }
        saveChanges();
    }

    function itemDown(item) {
        let currentItem = $(item).parent().parent();
        let nextItem = $(currentItem).next();

        if (nextItem && nextItem.length > 0) {
            $(currentItem).insertAfter($(nextItem));
        }
        saveChanges();
    }

    function saveChanges() {
        $('textarea').val(JSON.stringify($('#sortableList').toHierarchy()));
        const <%=key%>EditNavigation = new EditNavigation({
            element: '<%=key%>-container',
            field: '<%=key%>',
            data: $('#form-<%=key%>').val()
        });

        <%=key%>EditNavigation.logConfig();
        let replica = createDOM(JSON.parse($('#form-<%= key %>').val()));
        console.log(replica);
    }

    function fillPopUp(item) {
        let attributes = $(item).parent().parent().getAttr(); // getAttr() gives an object with attributes and their values
        let itemId;
        for (let [key, value] of Object.entries(attributes)) {
            if (key === 'id') {
                itemId = value;
                $(".popup > div > .editItem").attr('itemid', value);
            }
            $(".popup").children().each(function(index, element) {
                if ($(element).getAttr().id === key) {
                    $('> input', element).val(value);
                    $(element).show();
                }
            })
        }
        $('#parentSelector').append($('<option>', {
            value: 'global',
            text: 'global'
        }))
        $('li[id^="item_"]').each(function(index, element) {
            if ($(element).attr('id') !== itemId) {
                $('#parentSelector').append($('<option>', {
                    value: $(element).attr('id'),
                    text: $(element).attr('id')
                }))
            }
        })
        $('#propertyAdder').append($('<option>', {
            value: 'None',
            text: 'None'
        }))
        $('.popup > div[id^="data-"]').each(function(index, element) {
            if ($('#' + itemId).attr($(element).attr('id')) === undefined) {
                console.log($(element))
                $('#propertyAdder').append($('<option>', {
                    value: $(element).attr('id'),
                    text: $(element).attr('id')
                }))
            }
        })
    }

    function closePopup() {
        $('.popup-fade').fadeOut();
        // $('.popup > div').each(function(index, element) {
        //     if ($(element).attr('id')) {
        //         $(element).hide();
        //     }
        //     // maybe add here erasing data in input types
        // })
        $('#parentSelector').empty();
        $('#propertyAdder').empty();
        return false;
    }

    // function that improves attr()
    (function(old) {
        $.fn.getAttr = function() {
            if(arguments.length === 0) {
                if(this.length === 0) {
                    return null;
                }

                var obj = {};
                $.each(this[0].attributes, function() {
                    if(this.specified) {
                        obj[this.name] = this.value;
                    }
                });
                return obj;
            }

            return old.apply(this, arguments);
        };
    })($.fn.attr);

    // function that replaces sortableListsToHierarchy function from original module
    $.fn.toHierarchy = function()
    {
        var arr = [],
            order = 0;

        $( this ).children( 'li' ).each( function()
        {
            var li = $( this ),
                listItem = {},
                id = li.attr( 'id' );

            if ( ! id )
            {
                console.log( li ); // Have to be here! Read next exception message.
                throw 'Previous item in console.log has no id. It is necessary to create the array.';
            }
            listItem.id = id;
            let dataAttributes = {};
            for (let [key, value] of Object.entries($(li).getAttr())) {
                if (key.startsWith('data-')) {
                    dataAttributes[key.slice(5)] = value;
                }
            }
            console.log(dataAttributes);
            for (let [key, value] of Object.entries(dataAttributes)) {
                listItem[key] = value;
            }
            listItem.order = order;
            arr.push( listItem );
            listItem.children = li.children( 'ul,ol' ).toHierarchy();
            order ++;
        } );

        return arr;

    };

    let options = {
        // Like a css class name. Class will be removed after drop.
        currElClass: 'currElemClass',

        placeholderClass: 'placeholderClass',

        hintClass: 'hintClass',

        listsClass: 'listsClass',

        // All elements with class clickable will be clickable
        ignoreClass: 'clickable',

        insertZone: 50,

        insertZonePlus: true,

        scroll: 20,

        opener: {
            active: true,
            as: 'html',  // or "class"
            close: '<i class="fa fa-minus red"></i>', // or 'fa fa-minus'
            open: '<i class="fa fa-plus"></i>', // or 'fa fa-plus'
            openerCss: {
                'display': 'inline-block', // Default value
                'float': 'left', // Default value
                'width': '18px',
                'height': '18px',
                'margin-left': '-35px',
                'margin-right': '5px',
                'background-position': 'center center', // Default value
                'background-repeat': 'no-repeat' // Default value
            },
        },

        onChange: function()
        {
            saveChanges();

            // use parentsUntil and isAllowed option to replace maxLevel option
            console.log($('#item_1').parentsUntil('#sortableList').length)

            <!--$(replica).attr('id', 'sortableList');-->
            <!--$('#sortableList').replaceWith(replica);-->
        }
    }

    $('#sortableList').sortableLists(options);
    $('#addBtn').on('click', function() { addItem() });
    $('#sortableList').on('click', '.deleteItem', function() { deleteItem(this) });
    $('#sortableList').on('click', '.itemUp', function() { itemUp(this) });
    $('#sortableList').on('click', '.itemDown', function() { itemDown(this) });
    $('.popup-fade').on('click', '.editItem', function() { editItem() });
    $('.close-btn').click(function() { closePopup() });
    $('.popup-fade').on('click', '.addProperty', function() { addProperty() });

    $('#sortableList').on('click', '.popup-open', function() {
        fillPopUp(this);
        $('.popup-fade').fadeIn();
        return false;
    });

    $(document).keydown(function(e) {
        if (e.keyCode === 27) {
            e.stopPropagation();
            closePopup();
        }
    });

    $('.popup-fade').click(function(e) {
        if ($(e.target).closest('.popup').length === 0) {
            closePopup();
        }
    });

</script>