<button type="button" id="addBtn" class="btn">Add element</button>

<textarea
        <% field.config.required && 'required' %>
        <% field.config.disabled && 'disabled'%>
        name="<%= key %>"
        id="form-<%= key %>"
        rows="10"><%-JSON.stringify(value)%>
</textarea>

<!--<div class="modal fade" id="popUp">-->
<!--    <div class="modal-dialog modal-dialog-centered" role="dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                Header-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <div id="data-hint" style="display: none;">-->
<!--                    <label for="itemHint">Hint</label>-->
<!--                    <input type="text" id="itemHint">-->
<!--                    <a href="#" class="applyToAll">Apply to all</a>-->
<!--                </div>-->
<!--                <div id="data-link" style="display: none;">-->
<!--                    <label for="itemLink">Link</label>-->
<!--                    <input type="text" id="itemLink">-->
<!--                    <a href="#" class="applyToAll">Apply to all</a>-->
<!--                </div>-->
<!--                <div id="data-title" style="display: none;">-->
<!--                    <label for="itemTitle">Title</label>-->
<!--                    <input type="text" id="itemTitle">-->
<!--                    <a href="#" class="applyToAll">Apply to all</a>-->
<!--                </div>-->
<!--                <div id="data-something" style="display: none;">-->
<!--                    <label for="itemSomething">Something</label>-->
<!--                    <input type="text" id="itemSomething">-->
<!--                    <a href="#" class="applyToAll">Apply to all</a>-->
<!--                    <a href="#" class="deleteProp">[X]</a>-->
<!--                </div>-->
<!--                <div id="data-thing" style="display: none;">-->
<!--                    <label for="itemthing">thing</label>-->
<!--                    <input type="text" id="itemthing">-->
<!--                    <a href="#" class="applyToAll">Apply to all</a>-->
<!--                    <a href="#" class="deleteProp">[X]</a>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label for="parentSelector">Choose parent</label>-->
<!--                    <select class="form-select" id="parentSelector" aria-label="Default select example">-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label for="propertyAdder">Add property</label>-->
<!--                    <select class="form-select" id="propertyAdder" aria-label="Default select example">-->
<!--                    </select>-->
<!--                    <a class="addProperty" href="#">Add</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <a class="editItem btn btn-success" data-dismiss="modal" itemid="" href="#">Save</a>-->
<!--                <a class="close-btn btn btn-danger" data-dismiss="modal" href="#">Cancel</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<script>

    const <%=key%>EditNavigation = new EditNavigation({
        element: '<%=key%>-container',
        field: '<%=key%>',
        data: $('#form-<%=key%>').val()
    });

    <%=key%>EditNavigation.logConfig();
    <%=key%>EditNavigation.getSortableList();
    <%=key%>EditNavigation.getModal();
    <%=key%>EditNavigation.getAttr();
    <%=key%>EditNavigation.listToHierarchy();

    $('#sortableList').sortableLists(<%=key%>EditNavigation.getOptions());
    $('#addBtn').on('click', function() { <%=key%>EditNavigation.addItem() });
    $('#sortableList').on('click', '.deleteItem', function() { <%=key%>EditNavigation.deleteItem(this) });
    $('#sortableList').on('click', '.itemUp', function() { <%=key%>EditNavigation.itemUp(this) });
    $('#sortableList').on('click', '.itemDown', function() { <%=key%>EditNavigation.itemDown(this) });
    $('#popUp').on('click', '.editItem', function() { <%=key%>EditNavigation.editItem() });
    $('.close-btn').click(function() { <%=key%>EditNavigation.cleanSelects() });
    $('#popUp').on('click', '.addProperty', function() { <%=key%>EditNavigation.addProperty() });
    $('#popUp').on('click', '.deleteProp', function() { <%=key%>EditNavigation.deleteProp(this) });
    $('#popUp').on('click', '.applyToAll', function() { <%=key%>EditNavigation.applyToAll(this) });
    $('#sortableList').on('click', '.popUpOpen', function() { <%=key%>EditNavigation.fillPopUp(this) });

    $(document).keydown(function(e) {
        if (e.keyCode === 27) {
            e.stopPropagation();
            <%=key%>EditNavigation.cleanSelects();
        }
    });

    $('.modal').click(function(e) {
        if ($(e.target).closest('.modal-body').length === 0) {
            <%=key%>EditNavigation.cleanSelects();
        }
    });

</script>