mixin galeryImageUpload(key, field)
      | const #{key}FileManager = new FileManager({
      | displayId: '#{key}Container',
      | viewType: 'image',
      | upload: '#{field.config.GaleryImageUpload.uploadpath}',
      | dataListener: 'form-#{key}',
      | acceptedFiles:!{JSON.stringify(field.config.GaleryImageUpload.filetypes)},
      | });

mixin galeryImageManager(key, field)
      | const #{key}FileManager = new FileManager({
      | displayId: '#{key}Container',
      | viewType: 'images',
      | upload: '#{field.config.GaleryImageManager.uploadpath}',
      | dataListener: 'form-#{key}',
      | acceptedFiles:!{JSON.stringify(field.config.GaleryImageManager.filetypes)},
      | images: {
      | previewListener: "form-#{field.config.GaleryImageManager.preview}"
      | }
      | });

