

mixin floormapsSetLevelImage(key, field)
      - var floormaps = locals.adminpanel.configHelper.getFloorMapsConfig()
      | var data = []
      | var options = {
      | "genereteTitlelayers": {
      | "map_tile_url": "#{floormaps.map_tile_url}" ,
      | "attribution": "#{floormaps.attribution}",
      | },
      | "addMap": {
      | "id":"mapFMSLI-#{key}",
      | "maxZoom":#{floormaps.maxZoom},
      | "minZoom":#{floormaps.minZoom},
      | "zoom":#{floormaps.zoom},                
      | "center": !{JSON.stringify(floormaps.center)},
      | "maxBounds":!{JSON.stringify(floormaps.maxBounds)}
      | }
      | } 
      | var #{key}FMDmap = new L.FloorMaps(data, options);
      | var setLevelImage = function (){
      | var url = $("#form-#{field.config.FMSetLevelImage.image}" ).val() || false;
      | var default_position = !{JSON.stringify(floormaps.default_position)}
      | var current_position =  JSON.parse($("#form-#{key}" ).val());
      | var position = current_position || default_position;
      | var options_set_image = {
      | "url": url,
      | "point_image": position,
      | "opacity":0.5,

      | "empty": 'error.png',
      | "id_input_coordinate": 'form-#{key}',
      | "addMarker": true,
      | }
      | #{key}FMDmap.setLevelImage(options_set_image);
      | }
      | setLevelImage();
      | $("#form-#{field.config.FMSetLevelImage.image}").on("input", setLevelImage);

mixin floormapsDraw(key, field)
      - var floormaps = locals.adminpanel.configHelper.getFloorMapsConfig()
      | var data = []
      | var options = {
      | "genereteTitlelayers": {
      | "map_tile_url": "#{floormaps.map_tile_url}" ,
      | "attribution": "#{floormaps.attribution}",
      | },
      | "addMap": {
      | "id":"mapFMD-#{key}",
      | "maxZoom":#{floormaps.maxZoom + 2},
      | "minZoom":#{floormaps.minZoom},
      | "zoom":#{floormaps.zoom},                
      | "center": !{JSON.stringify(floormaps.center)},
      | "maxBounds":!{JSON.stringify(floormaps.maxBounds)}
      | },
      | "addDraw":{
      |	"draw_input": 'form-#{key}',
      | "id_delete_buttom":'delete',
      | "id_export_buttom":'export', },
      | // indoor config
      | "addIndoorLayer":{
      | "setLevel":"1",
      | "eneblepopup": false,
      | "enebletrackclick": true,
      | "addControll": false,
      | "style":{
      | "default":{
      | "fillColor": 'grey',
      | "weight": 1,
      | "color": 'black',
      | "fillOpacity": 1,
      | "className": "layer-ol",
      | "interactive":false,
      | },
      | "corridor": {
      | "fillColor": 'green',
      | "weight": 1,
      | "color": 'black',
      | "fillOpacity": 1,
      | "className": "layer-ol",
      | "interactive":false,
      | },
      | "market": {
      | "fillColor": 'orange',
      | "weight": 1,
      | "color": 'black',
      | "fillOpacity": 1,
      | "className": "layer-ol"
      | },
      | "active": {
      | "fillColor": 'blue',
      | "weight": 1,
      | "color": 'black',
      | "fillOpacity": 1,
      | "className": "layer-ol"
      | },
      | },
      | },
      | } 
      | // Get Data
      | // Get levels
      | var levels = [];
      | var #{key}FMDraw = [];
      | var id = $("#form-id" ).val() || "-1";
      | $.getJSON('/level',function(data){
      | levels = data;
      | $.getJSON('/geojson?without='+ id,function(data){
      | console.log(data)
      | #{key}FMDraw = new L.FloorMaps(data, options);
      | setLevelImage();
      | });
      | });
      | $( "#form-#{field.config.FMDraw.level}" ).change(function() { setLevelImage() });
      | // Add opions
      | var setLevelImage = function (){
      | var level = $("#form-#{field.config.FMDraw.level}" ).val();
      | levels.forEach(function(item, i ) {
      | if (level == levels[i].id ) {
      | console.log(levels[i]);
      | var options_set_image = {
      | "url": levels[i].levelImage,
      | "point_image": levels[i].vellum,
      | "opacity":0.5,
      | "empty": 'error.png',
      | "addMarker": false,
      | }
      | console.log(options_set_image);
      | #{key}FMDraw.setLevelImage(options_set_image);
      | }
      | }); //foreach
      | }
