include ./mixin/navbar
include ./includes
doctype html
html
  head
    title #{locals.title}
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv='theme-color', content='#303F9F')
    meta(http-equiv='msapplication-TileColor', content='#3372DF')

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    script(src="/admin/bower_components/jquery/dist/jquery.min.js")

    // STYLES
    link(rel="stylesheet", href="/admin/styles/importer.css")
    link(rel="stylesheet", href="/admin/bower_components/jsoneditor/dist/jsoneditor.min.css")
    link(rel="stylesheet", href="/admin/bower_components/jsoneditor/dist/jsoneditor.min.css")
    if (theme === 'dark')
      link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/clarity-ui/0.10.28/clarity-ui-dark.min.css")
    else
      link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/clarity-ui/0.10.28/clarity-ui.min.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/clarity-icons/0.10.28/clarity-icons.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/clarity-icons/0.10.28/clarity-icons.min.js")

    - var config = locals.adminpanel.configHelper.getConfig()
    | <script>console.log(!{JSON.stringify(locals.adminpanelFloormaps)});</script>
    each key in config.styles
      link(rel="stylesheet", href="#{key}")

    each script in config.script.header
      script(src="#{script}")

    // STYLES END
    block styles

    block imports

  body.main-container
    block menu
    .header
      .branding
        if locals.adminpanel.menuHelper.hasBrand()
          div
            a.title(href=locals.adminpanel.menuHelper.getBrandLink()) #{locals.adminpanel.menuHelper.getBrandTitle()}

      .header-nav
        span.nav-link.nav-text #{locals.adminpanel.menuHelper.getBrandTitle()}
      .header-actions
        if (!req.session.UserAP)
          a.nav-link.nav-text(href='./admin/userap/login') Login
        else
          a.nav-link.nav-text(href='./admin/userap/logout') #{req.session.UserAP.username} (logout)

    .content-container
      .content-area
        if (adminpanel.viewHelper.hasFlash(req, 'adminError'))
          each msg in req.flash('adminError')
            .alert.alert-danger
              .alert-items
                .alert-item.static
                  .alert-icon-wrapper
                    .clr-icon.alert-icon(shape="alert-icon")
                  span.alert-text #{msg}
        if (adminpanel.viewHelper.hasFlash(req, 'adminSuccess'))
          each msg in req.flash('adminSuccess')
            .alert.alert-success
              .alert-items
                .alert-item.static
                  .alert-icon-wrapper
                    .clr-icon.alert-icon(shape="check-circle")
                  span.alert-text #{msg}

        div#mainLayout
          block body
            | Layout
      +navbar()




    // stable
    script(src="/admin/bower_components/ckeditor/ckeditor.js")
    script(src="/admin/bower_components/ace/src-min-noconflict/ace.js")
    script(src="/admin/bower_components/jsoneditor/dist/jsoneditor.min.js")

    each script in config.script.footer
      script(src="#{script}")

    block js
