extends ./layout

include ./mixin/listHelper
include ./mixin/pagination
include ./mixin/actions

block body
  script.
    $(document).ready(function() {
        $('#list thead tr').clone(true).insertBefore( '#list thead tr' );
        $('#list thead tr:eq(0) th').each( function (i) {
            if (i === 0) return;
            $(this).html( '<input type="text" placeholder="" />' );
    
            $( 'input', this ).on( 'keyup change', function () {
                if ( table.column(i).search() !== this.value ) {
                    table
                        .column(i)
                        .search( this.value )
                        .draw();
                }
            } );
        } );

        var table = $('#list').DataTable( {
             "ajax": '#{instance.uri}/json',
             "sDom": 'Rfrtlip',
              fixedHeader: true,
             "columnDefs": [
              {
                  targets: 0,
                  render: function (data, type, row, meta)
                  {
                      if (type === 'display')
                      {
                          data = '<a href="#{instance.uri}/view/'+row[0]+'">View</a><br><br><a href="#{instance.uri}/edit/'+row[0]+'">Edit</a>';
                      }
                      return data;
                  }
              }]
        } );
    } );
  .horizontal.layout.test
    .flex
      if instance.config.add
        a(href='#{instance.uri}/add')#add
          button.btn(class="#{'btn-success' + (button == 'outline' ? '-outline' : '')}")
            clr-icon(shape="plus")
            |  Add
      //- +globalActions('list', instance)

  div.layout
    table.table#list
      thead
        +listHead(fields)
      //- tbody
      //-   each obj in list
      //-     //- +listRow(obj, instance)
      //- tfoot
      //-   tr
      //-     td
      //-       span Total: #{total}
      //-     td(colspan=Object.keys(fields).length).pagination
      //-       +pagination(instance.uri, (req.param('page') || 1), total, instance.config.list.limit, requestProcessor)

    if list.length == 0
      .alert.alert-info
        i.glyphicon.glyphicon-warning-sign
        | &nbsp;#{__('No records found !')}

