extends ./layout

include ./mixin/widgets
include ./mixin/viewHelper
include ./mixin/actions

block body
  script.
    console.log(!{JSON.stringify(record)})
  - var idField = locals.adminpanel.configHelper.getIdentifierField(instance.config.model);
  .layout.horizontal
    +globalActions('view', instance, record)

  .layout
    .horizontal.end-justified.layout
      a(href='#{instance.uri}')
        button.btn(class="#{'btn-primary' + button == 'outline' ? '-outline' : ''}")
          clr-icon(shape="undo", size=18)
          |  Back to list

      if instance.config.edit
        a(href='#{instance.uri}/edit/#{record[idField]}')
          button.btn(class="#{'btn-success' + (button == 'outline' ? '-outline' : '')}")
            clr-icon(shape="pencil")
            |  Edit record
      if instance.config.remove
        a(href='#{instance.uri}/remove/#{record[idField]}', onclick="return confirm('Are you sure ?');")
          button.btn(class="#{'btn-danger' + (button == 'outline' ? '-outline' : '')}")
            clr-icon(shape="trash")
            |  Remove record

    .card
      .card-header
        | Record info
      each field, key in fields
        .card-block
          .card-title
            .clr-row
              .clr-col-4: strong #{field.config.title}
              .clr-col-8: +showValue(key, field, record[key])


      +inlineActions(instance, record, 'view')
