extends ./layout
include ./mixin/widgets
include ./mixin/viewHelper

block body
  .container-fluid
    .page-header
      h3 View record
        a(href='#{instance.uri}', style='margin: 0 5px;').btn.btn-info.pull-right
          i.glyphicon.glyphicon-th-list
          | &nbsp;Back to list
        if instance.config.edit
          a(href='#{instance.uri}/edit/#{record.id}', style='margin: 0 5px;').btn.btn-default.pull-right
            i.glyphicon.glyphicon-pencil
            | &nbsp;Edit record
        if instance.config.remove
          a(href='#{instance.uri}/remove/#{record.id}', , style='margin: 0 5px;', onclick="return confirm('Are you sure ?');").btn.btn-danger.pull-right
            i.glyphicon.glyphicon-trash
            | &nbsp;Remove record
    each field, key in fields
      div(style='margin-top: 5px; margin-bottom: 5px;').row
        div(style='text-transform: capitalize;').col-sm-4
          strong #{key}
        .col-sm-8
          +showValue(key, field, record[key])

