 <nav class="sidenav sidenav-panel">
  <section class="sidenav-content">
    <section class="nav-group">
      <div class="clr-select-wrapper">
        <select class="clr-select" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
          <option value="/admin/dashboard"> Панель управления</option>
          <option value="/admin">Работа с данными</option>
          <option value="/store" selected>Магазин приложений</option>
          <option value="/server">Управление сервером</option>
        </select>
      </div>

    <!-- TODO: Нужно проверить что это  -->
    <% adminpanel.menuHelper.getGroups().forEach(function(group) { %>
        <menu-collapse>
            <div class="header">
                <%= group.title || "Dropdown" %>
            </div>
            <div>
                <% group.menues.forEach(function(menuItem) { %>
                    <admin-menu-item href="<%= menuItem.link %>">
                        <%= menuItem.title %>
                        <% if(menuItem.icon) { %>
                            <clr-icon shape="<%= menuItem.icon %>"></clr-icon>
                        <% }%>
                    </admin-menu-item>
                <% })%>
            </div>
        </menu-collapse>
    <% }) %>


    <% adminpanel.menuHelper.getMenuItems().forEach(function(menuItem) { %>
      
      <% var active = ""; if (menuItem && menuItem.instanceName && instance && instance.name)  { active = menuItem.instanceName  === instance.name ? 'active' : '' } %>
      <section class="nav-group collapsible">
        <input id="tab-<%=menuItem.id%>" type="checkbox" />
        <div class="nav-label <%= active %>">
          <label for="tab-<%=menuItem.id%>">
                    
            <% if (menuItem.icon)  { %>
              <span class="navbar-icon">
                <i class="fas fa-<%=menuItem.icon%>"></i>
              </span>
            <% } %>
  
            <%= menuItem.title %>
            <i class="fas fa-chevron-right"></i>
          </label>
        </div>
        <ul class="nav-list">
          <li><a class="nav-link <%= active %>" href="<%= menuItem.link %>">list</a></li>
          <li><a class="nav-link">Link 2</a></li>
        </ul>
      </section> 
    <% }) %>
    <a class="sidenav-panel__link" href="#"> <i class="fas fa-list"></i> Без стрелки</a>

  </section>
</section>
</nav>

