 <nav class="sidenav sidenav-panel">
  <section class="sidenav-content">
    <section class="nav-group">
      <div class="clr-select-wrapper">
        <select class="clr-select">
          <option value="1">Администрирование</option>
          <option value="2">ДАШБОРД</option>
        </select>
      </div>

    <!-- TODO: Нужно проверить что это  -->
    <% adminpanel.menuHelper.getGroups().forEach(function(group) { %>
        <menu-collapse>
            <div class="header">
                <%= group.title || "Dropdown" %>
            </div>
            <div>
                <% group.menues.forEach(function(menuItem) { %>
                    <admin-menu-item href="<%= menuItem.link %>">
                        <%= menuItem.title %>
                        <% if(menuItem.icon) { %>
                            <clr-icon shape="<%= menuItem.icon %>"></clr-icon>
                        <% }%>
                    </admin-menu-item>
                <% })%>
            </div>
        </menu-collapse>
    <% }) %>


    <% adminpanel.menuHelper.getMenuItems().forEach(function(menuItem) { %>

      <section class="nav-group collapsible">
        <input id="tab-<%=menuItem.id%>" type="checkbox" />
        <label class="<%= menuItem.instanceName  === instance.name ? 'active' : ''%>" for="tab-<%=menuItem.id%>">
          
          <% if(menuItem.icon) { %>
            <clr-icon shape="<%_menuItem.title %>" role="none"/>
          <% }%>
          
          <%= menuItem.title %>
          <svg>
            <use
              xlink:href="/admin/assets/new_layout/img/sprite_auto.svg#sidenav-arrow"
            ></use>
          </svg>
        </label>
        <ul class="nav-list">
          <li><a class="nav-link" href="<%= menuItem.link %>">list</a></li>
          <li><a class="nav-link">Link 2</a></li>
        </ul>
      </section> 
    <% }) %>

  </section>
</section>
</nav>